.ugly-box {
  padding: 1.5em;
  color: yellow;
  background-color: var(--box-background);
  border: var(--text-box-border);
}

a.ugly-button {
  display: inline-block;
  font-family: var(--font-monospace);
  color: black;
  padding: 0.4em 0.5em;
  background: yellow;
  font-size: 1.2em;
}

.section-headline {
  font-size: 1.5em;
  color: #46b6ee;
  border-bottom: 1px solid #46b6ee;
  margin: 2em 0 1em 0;
  padding: 0 0 0.3em 0;
}

.event_name {
  color: #FF9900;
}

main {
  margin-top: calc(var(--logo-top) + var(--logo-height) + 1em /* margin */);
}

#content-buttons {
  margin: 3em 0 2em 0;
}

#content-buttons ul {
  margin: 0;
  padding: 0;
  justify-content: center;
}

#content-buttons li {
  list-style: none;
}

#right-side img {
  display: block;
  margin: 0 auto;
}

#tweet-box {
  margin-top: 2em;
}

@media screen and (min-width: 64em) {
  body {
    background: url(../img/c-base_raumstation.gif) 435px 25px no-repeat, url(../img/planet_base.png) no-repeat, url(../img/stars_only.png) repeat, #020303;
  }

  main {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    margin: 0;
  }

  #left-side {
    margin-top: 300px;
    width: calc(100% - 20em - 4em);
  }

  #right-side {
    width: 20em;
    margin-left: 4em;
    margin-top: 150px;
    margin-bottom: 1em;
  }

  #right-side .box {
    border: var(--box-border-width) solid #46b6ee;
    position: relative;
    overflow: visible;
    background-color: var(--box-background);
  }

  #right-side .box-content-margin {
    margin-left: var(--box-content-margin);
    margin-right: var(--box-content-margin);
  }

  #right-side .content-block {
    position: relative;
  }

  #right-side .content-block h2.section-headline {
    font-family: var(--font-monospace);
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    color: #0d0649;
    background-color: #46b6ee;
    position: absolute;
    left: calc(var(--box-border-width) * -1);
    top: calc(var(--box-border-width) * -1);
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    transform-origin: center left;
    margin: 0;
    padding: 0.5em 0.1em 0.5em 0;
    border: none;
  }

  #right-side .content-block + .content-block {
    margin-top: 2.5em;
  }

  #right-side .content-block:last-child {
    margin-bottom: var(--box-content-margin);
  }

  #right-side img.full-width {
    width: 100%;
  }
}

@media screen and (min-width: 75em) {
  #left-side {
    width: calc(100% - 24em - 4em);
  }

  #right-side {
    width: 24em;
  }
}

@media screen and (min-width: 100em) {
  #left-side {
    margin-top: 240px;
  }
}

@media screen and (min-width: 160em) {
  #left-side {
    margin-top: 5em;
  }

  #right-side {
    margin-top: 3em;
  }
}

#upcoming a:hover {
  text-decoration: none;
}

#upcoming .fc-upcoming-view, #upcoming th, #upcoming td {
  border: none;
  background: none;
}

#upcoming table {
  border-collapse: separate;
}

#upcoming th, #upcoming td {
  vertical-align: top;
  padding: 0.3em 0;
}

#upcoming .fc-list-day th {
  padding-top: 1em;
  border-bottom: 1px solid var(--default-text-color);
}

#upcoming .fc-list-day-cushion {
  font-weight: bold;
  color: var(--highlight-color);
  padding: 0;
  background: none;
} 

#upcoming td.fc-list-event-time {
  padding-right: 1em;
}

#upcoming td.fc-list-event-graphic {
  display: none;
}

#upcoming td.fc-list-event-title {
  width: 90%;
}

#upcoming .fc-list-event-title a {
  color: var(--highlight-color);
  cursor: pointer;
}

#upcoming .fc-list-event-title a:hover {
  text-decoration: underline;
}

#upcoming .fc-list-empty {
  margin-top: 1em;
  background: none;
}
