{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ '/static/css/30jahre.css'|asseturl }}">
<style>
    .hero-wrapper {
        text-align: center;
        font-weight: bold;
        z-index: 80;
        padding: 30px 0px 30px 0px;
        rotate: -15deg;
        margin-top: 25px;
        margin-bottom: 100px;
    }
    .hero-title {
        font-size: 12rem;
        margin: 0px;
        color: rgb(255, 153, 0);
        line-height: 0.75;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: black;
    }
    .hero-subtitle {
        font-size: 3rem;
        margin: 0px 0px 0px 10px;
        color: rgb(255, 153, 0);
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: black;
    }
    @media screen and (max-width:992px) {
        /* Zusätzliche Regeln für kleinere Monitore  */
        .hero-title {
            font-size: 10rem;
        }
        .hero-subtitle {
            font-size: 3rem;
        }
    }
    @media screen and (max-width:768px) {
        /* Zusätzliche Regeln für kleinere Monitore  */
        .hero-title {
            font-size: 8rem;
        }
        .hero-subtitle {
            font-size: 2rem;
        }
    }
    @media screen and (max-width:450px) {
        /* Zusätzliche Regeln noch kleinere Monitore  */
        .hero-title {
            font-size: 5rem;
        }
        .hero-subtitle {
            font-size: 1.5rem;
        }
    }
    .event-list {
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 20px 32px;
        margin-bottom: 200px;
    }
    .event-item {
        z-index: 0;
        padding: 0;
        flex-grow: 0;
        background: yellow;
        border: #ff9900 solid 2px;
        transition-duration: 0.25s;
        transition-property: box-shadow;
    }
    .event-item-content-wrapper {
        position: relative;   /* without this, the z-index is ignored. */
        z-index: 100;   /* without the z-index, the box-shadow will overlay on the card content */
        padding: 5px 15px;
        width: 164px;
        min-height: 250px;
        background: #000;
    }
    .event-item:hover {
        z-index: 0;
        -webkit-box-shadow:0px 0px 128px 8px rgba(255,153,0,0.50);
        -moz-box-shadow: 0px 0px 128px 8px rgba(255,153,0,0.50);
        box-shadow: 0px 0px 128px 8px rgba(255,153,0,0.50);
    }
    .event-date {
        font-size: smaller;
    }
    .event-title {
        font-family: "League Spartan", sans-serif;
    }
    
</style>
{% endblock %}

{% block body %}

<div class="hero-wrapper">
    <h1 class="hero-title">30&nbsp;Jahre <nobr>c-base</nobr></h1>
    <h2 class="hero-subtitle">05.09.-05.10.2025</h2>
</div>

{{ this.content }}

<section>
    <h2>Events</h2>

    <div class="event-container">
    <div class="event-list">
    {% for child in this.children %}

        <a href="{{ child|url }}">  
            <div class="event-item">
                <div class="event-item-content-wrapper">
                    <p class="event-date">{{ child.date|dateformat("EE, dd.MM.YYYY", locale="de_DE") }}</p>
                    <h3 class="event-title">{{ child.title }}</h3>
                </div>
            </div>
        </a>
    
    {% endfor %}
    </div>
    </div>
  
</section>

{% endblock %}
