{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ '/static/css/home.css'|asseturl }}">
{% endblock %}
{% block body %}
<section id="left-side">

  {{ this.content }}

  <section id="content-buttons">
    <ul class="row wrap">
      <li><a class="button" href="https://www.c-base.org/cv50f/">about c-base</a></li>
      <li><a class="button" href="https://www.c-base.org/cv50f/core/member.html">Member werden</a></li>
      <li><a class="button" href="https://www.c-base.org/cv50f/">c-base unterst&uuml;tzen</a></li>
    </ul>
  </section>

</section>


<section id="right-side">
  <section class="box">

    {{ this.sidebar }}

  </section>

  <section id="tweet-box">
    <a class="twitter-timeline" data-height="800" data-dnt="true" data-theme="dark" href="https://twitter.com/cbase?ref_src=twsrc%5Etfw">Tweets by @cbase</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </section>

</section>

{% endblock %}
