{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ '/static/css/home.css'|asseturl }}">
{% endblock %}
{% block body %}
<section id="left-side">

  {{ this.content }}

</section>


<section id="right-side">
  <section class="box">

    {{ this.sidebar }}

  </section>

</section>

{% endblock %}

{% block bottom %}
<script src="{{ '/static/lib/fullcalendar-6.1.17/index.global.min.js'|asseturl }}"></script>

{#
<script src="{{ '/static/calendar-data/events.js'|asseturl }}"></script>
#}
<script src="https://www.c-base.org/calendar/exported/events.js"></script>

<script src="{{ '/static/js/upcoming.js'|asseturl }}"></script>
{% endblock %}
