<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>c-base >>> {% block title %}{{ this.title }}{% endblock %}</title>
  <meta name="description" content="c-base is the oldest crashed space station on earth.">

  <link rel="shortcut icon" href="{{ '/static/img/favicon.png'|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/css/normalize.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/css/c-base.css'|asseturl }}">
  {% block head %}{% endblock %}
</head>

<body dir="ltr">

  <nav class="navigation">
    <input class="menu-button" type="checkbox" id="menu-button" />
    <label class="menu-icon" for="menu-button"><span class="navicon"></span></label>
    <ul class="menu">
  {%- for label, path in bag('navigation').items() %}
      <li{% if this.is_child_of(path) %} class="active"{% endif %}><a href="{% if path.startswith('http') %}{{ path }}{% else %}{{ path|url }}{% endif %}">{{ label }}</a></li>
  {%- endfor %}
    </ul>
  </nav>

  <main class="container">
    {% block body %}{% endblock %}
  </main>

  <footer>
    <div class="container">
      <section id="links-website" class="column">
        <ul>
          <li><a href="{{ '/about'|url }}">Über die c-base</a></li>
          <li><a href="{{ '/calendar'|url }}">Veranstaltungskalender</a></li>
          <li><a href="{{ '/press'|url }}">Presse</a></li>
          <li><a href="{{ '/sponsors'|url }}">Sponsoren</a></li>
          <li><a href="{{ '/impressum'|url }}">Impressum</a></li>
        </ul>
      </section>

      <section id="links-content" class="column">
        <ul>
          <li><a href="https://logbuch.c-base.org/">logbuch (blog)</a></li>
          <li><a href="https://audioblog.c-base.org/">audioblog</a></li>
          <li><a href="https://wiki.c-base.org/coredump">Wiki</a></li>
          <li><a href="https://www.c-base.org/cv50f/">Website v5.0f</a></li>
        </ul>
      </section>

      <section id="links-social" class="column">
        <ul>
          <li><a href="https://twitter.com/cbase">c-base on Twitter</a></li>
          <li><a href="https://www.facebook.com/cbase.raumstation">c-base on Facebook</a></li>
          <li><a href="https://vimeo.com/cbase">Vimeo Channel</a></li>
          <li><a href="https://www.reddit.com/r/cbase">c-base on reddit</a></li>
          <li><a href="https://github.com/c-base">c-base on GitHub</a></li>
        </ul>
      </section>
    </div>
  </footer>

  {% block bottom %}{% endblock %}
</body>
</html>
